@charset "UTF-8";


* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(#B1D8FD, #65B3FC, #518FC9);
}

main {
    background-image: linear-gradient(to top, #d3e6f7, #65B3FC 200%);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(81, 143, 201, 0.600);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #305679;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(48, 86, 121, 0.600);
}

h2 {
    color: #576B7D;
}

p {
    text-align: justify;
}