@charset "UTF-8";

body {
    background-color: rgb(209, 244, 220);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(51, 79, 49);
}